<%= "#{@author.name} " %>
<%= "Comments: #{@author.comments.count}" %>





<ul>
  <% @comments.each do |el| %>
    <li>
      <%= link_to "#{el.post.title}", post_url(post) %>
      <%= "#{post.comments.count}" %>
      <%= column_chart post.comments.group(:author).count %>
    </li>
  <% end %>
</ul>